<ion-content>
  <ion-card *ngFor="let member of members">
    <img [src]='"https://members-api.parliament.uk/api/Members/"+member.id+"/Portrait?cropType=FullSize"'>
    <ion-card-header>
      <ion-card-subtitle [style.color]="member.latestParty.backgroundColour">{{ member.latestParty.name }}</ion-card-subtitle>
      <ion-card-title>{{ member.nameDisplayAs }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ member.latestHouseMembership.membershipFrom }}
    </ion-card-content>

  </ion-card>
</ion-content>